In [26]:
my_tuple = (2,5,464) + (43,645,5,3)
print(my_tuple)
my_tuple = my_tuple[:-1]
print(my_tuple)
my_tuple = tuple(sorted(my_tuple))
print(my_tuple)
print(my_tuple.count(5))
print(my_tuple[-1])

(2, 5, 464, 43, 645, 5, 3)
(2, 5, 464, 43, 645, 5)
(2, 5, 5, 43, 464, 645)
2
645

In [29]:
numbers = range(4,95,2)
print(numbers)
print(list(numbers))

range(4, 95, 2)
[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94]

In [31]:
print(list(range(4,456,7)))

[4, 11, 18, 25, 32, 39, 46, 53, 60, 67, 74, 81, 88, 95, 102, 109, 116, 123, 130, 137, 144, 151, 158, 165, 172, 179, 186, 193, 200, 207, 214, 221, 228, 235, 242, 249, 256, 263, 270, 277, 284, 291, 298, 305, 312, 319, 326, 333, 340, 347, 354, 361, 368, 375, 382, 389, 396, 403, 410, 417, 424, 431, 438, 445, 452]

# For loop

In [34]:
print(list(range(3,11,2)))

for number in range(3,11,2):
    print('ciklas prasidejo')
    print(number)
print('pabaiga')

[3, 5, 7, 9]
ciklas prasidejo
3
ciklas prasidejo
5
ciklas prasidejo
7
ciklas prasidejo
9
pabaiga

In [36]:
miestai = ['Vilnius', 'Kaunas', 'Klaipeda']
print(miestai)

for miestas in miestai:
    print (miestas)

['Vilnius', 'Kaunas', 'Klaipeda']
Vilnius
Kaunas
Klaipeda

In [40]:

for number in range(1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [49]:
suma = 0
for number in range(1,51):
    suma += number
    #print(suma)
print(suma)

1275

In [60]:
input_number = int(input('Iveskite skaiciu'))
print(input_number)

7

In [61]:
for number in range(1,11):
    print(f'{input_number} * {number} = {input_number * number}')

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [62]:
dienos = ['Pirmadienis', 'Antradienis', 'Treciadienis', 'Ketvirtadienis', 'Penktadienis', 'Sestadienis', 'Sekmadienis']

In [63]:
valandos = [10,11,12,13,14,15,16,17,18,19]

In [74]:
kombinacijos = []
for diena in dienos:
    for valanda in valandos:
        kombinacijos.append((diena, valanda))
print(kombinacijos)

[('Pirmadienis', 10), ('Pirmadienis', 11), ('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Pirmadienis', 18), ('Pirmadienis', 19), ('Antradienis', 10), ('Antradienis', 11), ('Antradienis', 12), ('Antradienis', 13), ('Antradienis', 14), ('Antradienis', 15), ('Antradienis', 16), ('Antradienis', 17), ('Antradienis', 18), ('Antradienis', 19), ('Treciadienis', 10), ('Treciadienis', 11), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17), ('Treciadienis', 18), ('Treciadienis', 19), ('Ketvirtadienis', 10), ('Ketvirtadienis', 11), ('Ketvirtadienis', 12), ('Ketvirtadienis', 13), ('Ketvirtadienis', 14), ('Ketvirtadienis', 15), ('Ketvirtadienis', 16), ('Ketvirtadienis', 17), ('Ketvirtadienis', 18), ('Ketvirtadienis', 19), ('Penktadienis', 10), ('Penktadienis', 11), ('Penktadienis', 12), ('Penktadienis', 13), ('Penktadienis', 14), ('Penktadienis', 15), ('Penktadienis', 16), ('Penktadienis', 17), ('Penktadienis', 18), ('Penktadienis', 19), ('Sestadienis', 10), ('Sestadienis', 11), ('Sestadienis', 12), ('Sestadienis', 13), ('Sestadienis', 14), ('Sestadienis', 15), ('Sestadienis', 16), ('Sestadienis', 17), ('Sestadienis', 18), ('Sestadienis', 19), ('Sekmadienis', 10), ('Sekmadienis', 11), ('Sekmadienis', 12), ('Sekmadienis', 13), ('Sekmadienis', 14), ('Sekmadienis', 15), ('Sekmadienis', 16), ('Sekmadienis', 17), ('Sekmadienis', 18), ('Sekmadienis', 19)]

In [76]:
x = 5
if x>2:
    print('x yra daugiau uz du') 
print('po salygos')

x yra daugiau uz du
po salygos

In [79]:
x=1
if x>2:
    print('x yra daugiau uz du')
else:
    print('x nera daugiau uz du')
print('end')

x nera daugiau uz du
end

In [98]:
x = 9
y = 11

In [99]:
if x>10:
    print('if atitinka')
elif x>0 and y>12:
    print('atitinka elif salyga')
elif x>-5 and y>30:
    print('atitinka antra elif salyga')
else:
    print('else salyga')
print('po salygos')

else salyga
po salygos

In [103]:
for number in range(1,21):
    #print(number)
    if number % 3 == 0:
        print(f'{number} dalinasi is 3 be liekanos')
print('end')

3 dalinasi is 3 be liekanos
6 dalinasi is 3 be liekanos
9 dalinasi is 3 be liekanos
12 dalinasi is 3 be liekanos
15 dalinasi is 3 be liekanos
18 dalinasi is 3 be liekanos
end

In [107]:
suma = 0
for number in range (1,51):
    suma += number
print(suma)

1275

In [114]:
suma = 0
for number in range (1,51):
    if (suma + number) % 2 == 0:
        suma += number
        #print(suma)
print(suma)

650

In [138]:
input_number = int(input('Iveskites skaiciu'))
print(input_number)

4

In [139]:
if (input_number ** 2) % 2 != 0:
    for number in range(1,11):
        print(f'{number} * {input_number} = {number * input_number}')
else:
    print('skaicius pakeltas kvadratu yra lyginis')

skaicius pakeltas kvadratu yra lyginis

In [156]:
dienos = ['Pirmadienis', 'Antradienis', 'Treciadienis', 'Ketvirtadienis', 'Penktadienis', 'Sestadienis', 'Sekmadienis']
valandos = [10,11,12,13,14,15,16,17,18,19]

darbo_dienos = ['Pirmadienis', 'Treciadienis']
darbo_valandos = list(range(12,18))
kombinacijos = []

for diena in dienos:
    if diena in darbo_dienos:
        for valanda in darbo_valandos:
            if valanda in darbo_valandos:
                kombinacijos.append((diena,valanda))
print(kombinacijos)

[('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17)]

In [158]:
for number in range(1,21):
    if number % 3 == 0:
        print(f'{number} dalinasi is triju be liekanos')

3 dalinasi is triju be liekanos
6 dalinasi is triju be liekanos
9 dalinasi is triju be liekanos
12 dalinasi is triju be liekanos
15 dalinasi is triju be liekanos
18 dalinasi is triju be liekanos

In [164]:
numbers = list(range(1,21))
dividible_by_3 = []

for number in numbers:
    if number % 3 == 0:
        dividible_by_3.append(number)
print(dividible_by_3)

[3, 6, 9, 12, 15, 18]