In [1]:
import pandas

In [26]:
invoice_sent = pandas.read_excel('homework.xlsx')

In [27]:
invoice_sent

,transaction_date,package_quantity,country,invoice_number,charge_classification_code,currency,billed_weight,tracking_number,charge_description,from_country,entered_weight,to_country,extra_costs,amount,transaction_id,package_size_code
0,2021-02-03,1,IT,NaN,NaN,EUR,0.5,1078440000106,TB Standard,IT,0.5,FR,False,3.69,NaN,SMALL
1,2021-02-23,1,IT,NaN,NaN,EUR,2.0,1078440000225,TB Standard,IT,0.5,FR,False,4.47,NaN,SMALL
2,2021-03-03,1,IT,NaN,NaN,EUR,6.5,1078440000284,TB Standard,IT,2.0,FR,False,6.99,NaN,LARGE
3,2021-02-15,1,IT,NaN,NaN,EUR,0.5,1078440000314,TB Standard,IT,0.5,FR,False,3.69,NaN,SMALL
4,2021-03-01,1,IT,NaN,NaN,EUR,0.5,1078440000400,TB Standard,IT,0.5,FR,False,3.69,NaN,SMALL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2021-01-25,1,IT,NaN,NaN,EUR,1.0,1078443168103,Dom. Standard,IT,1.0,IT,False,3.61,NaN,MEDIUM
19996,2021-02-11,1,IT,NaN,NaN,EUR,3.5,1078443168222,TB Standard,IT,1.0,FR,False,5.82,NaN,MEDIUM
19997,2021-02-11,0,IT,NaN,NaN,EUR,0.0,1078443168222,Extended Area P/U Surcharge-Origin,IT,0.0,FR,True,5.66,NaN,MEDIUM
19998,2021-02-16,1,IT,NaN,NaN,EUR,2.0,1078443168367,TB Standard,IT,1.0,FR,False,4.47,NaN,MEDIUM
19999,2021-02-25,1,IT,NaN,NaN,EUR,4.0,1078443168486,TB Standard,IT,2.0,FR,False,5.19,NaN,LARGE

In [28]:
invoice_sent.to_csv('homework.csv')

In [29]:
invoice_sent

,transaction_date,package_quantity,country,invoice_number,charge_classification_code,currency,billed_weight,tracking_number,charge_description,from_country,entered_weight,to_country,extra_costs,amount,transaction_id,package_size_code
0,2021-02-03,1,IT,NaN,NaN,EUR,0.5,1078440000106,TB Standard,IT,0.5,FR,False,3.69,NaN,SMALL
1,2021-02-23,1,IT,NaN,NaN,EUR,2.0,1078440000225,TB Standard,IT,0.5,FR,False,4.47,NaN,SMALL
2,2021-03-03,1,IT,NaN,NaN,EUR,6.5,1078440000284,TB Standard,IT,2.0,FR,False,6.99,NaN,LARGE
3,2021-02-15,1,IT,NaN,NaN,EUR,0.5,1078440000314,TB Standard,IT,0.5,FR,False,3.69,NaN,SMALL
4,2021-03-01,1,IT,NaN,NaN,EUR,0.5,1078440000400,TB Standard,IT,0.5,FR,False,3.69,NaN,SMALL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2021-01-25,1,IT,NaN,NaN,EUR,1.0,1078443168103,Dom. Standard,IT,1.0,IT,False,3.61,NaN,MEDIUM
19996,2021-02-11,1,IT,NaN,NaN,EUR,3.5,1078443168222,TB Standard,IT,1.0,FR,False,5.82,NaN,MEDIUM
19997,2021-02-11,0,IT,NaN,NaN,EUR,0.0,1078443168222,Extended Area P/U Surcharge-Origin,IT,0.0,FR,True,5.66,NaN,MEDIUM
19998,2021-02-16,1,IT,NaN,NaN,EUR,2.0,1078443168367,TB Standard,IT,1.0,FR,False,4.47,NaN,MEDIUM
19999,2021-02-25,1,IT,NaN,NaN,EUR,4.0,1078443168486,TB Standard,IT,2.0,FR,False,5.19,NaN,LARGE

In [30]:
invoice_sent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   transaction_date            20000 non-null  object
 1   package_quantity            20000 non-null  int64
 2   country                     20000 non-null  object
 3   invoice_number              0 non-null      float64
 4   charge_classification_code  0 non-null      float64
 5   currency                    20000 non-null  object
 6   billed_weight               20000 non-null  float64
 7   tracking_number             20000 non-null  int64
 8   charge_description          20000 non-null  object
 9   from_country                20000 non-null  object
 10  entered_weight              20000 non-null  float64
 11  to_country                  20000 non-null  object
 12  extra_costs                 20000 non-null  bool
 13  amount                      20000 non-null  float64
 14  transaction_id              0 non-null      float64
 15  package_size_code           20000 non-null  object
dtypes: bool(1), float64(6), int64(2), object(7)
memory usage: 2.3+ MB

In [31]:
revenue_sent = pandas.read_excel('homework.xlsx', sheet_name='Revenue_sent')

In [32]:
revenue_sent.to_csv('homework.csv')

In [33]:
revenue_sent

,tracking_number,transaction_id,gmv,local_date,refunded_at,refund_reason,package_size,buyer_shipment_price
0,1078440000106,NaN,12.5,2021-02-02,NaN,NaN,SMALL,0.99
1,1078440000225,NaN,10.5,2021-02-22,NaN,NaN,SMALL,0.99
2,1078440000284,NaN,45.5,2021-02-25,NaN,NaN,LARGE,5.49
3,1078440000314,NaN,30.5,2021-02-12,NaN,NaN,SMALL,0.99
4,1078440000400,NaN,12.5,2021-02-26,NaN,NaN,SMALL,0.99
...,...,...,...,...,...,...,...,...
19995,1078443168103,NaN,10.5,2021-01-22,NaN,NaN,MEDIUM,0.99
19996,1078443168222,NaN,10.5,2021-02-05,NaN,NaN,MEDIUM,0.99
19997,1078443168222,NaN,10.5,2021-02-05,NaN,NaN,MEDIUM,0.99
19998,1078443168367,NaN,25.5,2021-02-16,NaN,NaN,MEDIUM,0.99
19999,1078443168486,NaN,75.5,2021-02-19,NaN,NaN,LARGE,5.49

In [34]:
invoice_sent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   transaction_date            20000 non-null  object
 1   package_quantity            20000 non-null  int64
 2   country                     20000 non-null  object
 3   invoice_number              0 non-null      float64
 4   charge_classification_code  0 non-null      float64
 5   currency                    20000 non-null  object
 6   billed_weight               20000 non-null  float64
 7   tracking_number             20000 non-null  int64
 8   charge_description          20000 non-null  object
 9   from_country                20000 non-null  object
 10  entered_weight              20000 non-null  float64
 11  to_country                  20000 non-null  object
 12  extra_costs                 20000 non-null  bool
 13  amount                      20000 non-null  float64
 14  transaction_id              0 non-null      float64
 15  package_size_code           20000 non-null  object
dtypes: bool(1), float64(6), int64(2), object(7)
memory usage: 2.3+ MB

In [35]:
revenue_sent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   tracking_number       20000 non-null  int64
 1   transaction_id        0 non-null      float64
 2   gmv                   20000 non-null  float64
 3   local_date            20000 non-null  object
 4   refunded_at           372 non-null    object
 5   refund_reason         372 non-null    object
 6   package_size          20000 non-null  object
 7   buyer_shipment_price  20000 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 1.2+ MB

In [40]:
print(invoice_sent.shape)
print(revenue_sent.shape)

(20000, 16)
(20000, 8)

In [ ]:
# Finding the number of null values in the dataset

In [42]:
invoice_sent.isnull().sum()

transaction_date                  0
package_quantity                  0
country                           0
invoice_number                20000
charge_classification_code    20000
currency                          0
billed_weight                     0
tracking_number                   0
charge_description                0
from_country                      0
entered_weight                    0
to_country                        0
extra_costs                       0
amount                            0
transaction_id                20000
package_size_code                 0
dtype: int64

In [43]:
revenue_sent.isnull().sum()

tracking_number             0
transaction_id          20000
gmv                         0
local_date                  0
refunded_at             19628
refund_reason           19628
package_size                0
buyer_shipment_price        0
dtype: int64

In [ ]:
## 1)	Comment on accuracy or completeness of data

# Completeness of data.
# By using Python and its commands (pandas, info(), shape, isnull()), I was able to have a closer look to the dataset. The 'Invoice_sent' sheet consists of 20000
# rows and 16 columns, whereas the 'Revenue_sent' sheet consists of the same number of rows and 8 columns. 'Invoice_sent' consists of thirteen out of sixteen columns with 100% filled values (no N/As) (20000/20000)
# with no information missing, and three out of sixteen columns that are completely not-applicable (0/2000). Hence, we are not provided with the information about invoice_number, charge_classification_code
# and transaction_id. Likewise, the dataset 'Revenue_sent' has 5/8 fully completed columns, no values about the transaction_id and 19628/20000 filled values about the
# refunded_at and refund_reason. It appears that there is a perfect relationship between those two values,
# as if there was no available information about the date the item was refunded, the reason of an item being refunded is unknown as well.

In [44]:
revenue_sent['VAT_excluded'] = revenue_sent['buyer_shipment_price'] - (revenue_sent['buyer_shipment_price'] * 0.22)
# Created a new column VAT_excluded that shows the shipping price charged to the buyer excluding VAT at 22% rate.

In [45]:
revenue_sent

,tracking_number,transaction_id,gmv,local_date,refunded_at,refund_reason,package_size,buyer_shipment_price,VAT_excluded
0,1078440000106,NaN,12.5,2021-02-02,NaN,NaN,SMALL,0.99,0.7722
1,1078440000225,NaN,10.5,2021-02-22,NaN,NaN,SMALL,0.99,0.7722
2,1078440000284,NaN,45.5,2021-02-25,NaN,NaN,LARGE,5.49,4.2822
3,1078440000314,NaN,30.5,2021-02-12,NaN,NaN,SMALL,0.99,0.7722
4,1078440000400,NaN,12.5,2021-02-26,NaN,NaN,SMALL,0.99,0.7722
...,...,...,...,...,...,...,...,...,...
19995,1078443168103,NaN,10.5,2021-01-22,NaN,NaN,MEDIUM,0.99,0.7722
19996,1078443168222,NaN,10.5,2021-02-05,NaN,NaN,MEDIUM,0.99,0.7722
19997,1078443168222,NaN,10.5,2021-02-05,NaN,NaN,MEDIUM,0.99,0.7722
19998,1078443168367,NaN,25.5,2021-02-16,NaN,NaN,MEDIUM,0.99,0.7722
19999,1078443168486,NaN,75.5,2021-02-19,NaN,NaN,LARGE,5.49,4.2822

In [49]:
invoice_sent

,transaction_date,package_quantity,country,invoice_number,charge_classification_code,currency,billed_weight,tracking_number,charge_description,from_country,entered_weight,to_country,extra_costs,amount,transaction_id,package_size_code
0,2021-02-03,1,IT,NaN,NaN,EUR,0.5,1078440000106,TB Standard,IT,0.5,FR,False,3.69,NaN,SMALL
1,2021-02-23,1,IT,NaN,NaN,EUR,2.0,1078440000225,TB Standard,IT,0.5,FR,False,4.47,NaN,SMALL
2,2021-03-03,1,IT,NaN,NaN,EUR,6.5,1078440000284,TB Standard,IT,2.0,FR,False,6.99,NaN,LARGE
3,2021-02-15,1,IT,NaN,NaN,EUR,0.5,1078440000314,TB Standard,IT,0.5,FR,False,3.69,NaN,SMALL
4,2021-03-01,1,IT,NaN,NaN,EUR,0.5,1078440000400,TB Standard,IT,0.5,FR,False,3.69,NaN,SMALL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2021-01-25,1,IT,NaN,NaN,EUR,1.0,1078443168103,Dom. Standard,IT,1.0,IT,False,3.61,NaN,MEDIUM
19996,2021-02-11,1,IT,NaN,NaN,EUR,3.5,1078443168222,TB Standard,IT,1.0,FR,False,5.82,NaN,MEDIUM
19997,2021-02-11,0,IT,NaN,NaN,EUR,0.0,1078443168222,Extended Area P/U Surcharge-Origin,IT,0.0,FR,True,5.66,NaN,MEDIUM
19998,2021-02-16,1,IT,NaN,NaN,EUR,2.0,1078443168367,TB Standard,IT,1.0,FR,False,4.47,NaN,MEDIUM
19999,2021-02-25,1,IT,NaN,NaN,EUR,4.0,1078443168486,TB Standard,IT,2.0,FR,False,5.19,NaN,LARGE

In [46]:
invoice_sent.to_excel('invoicesent.xlsx')

In [48]:
revenue_sent.to_excel('revenuesent.xlsx')

## 4) Calculate revenue, cost and gross profit per package size

### Revenue

In [78]:
revenue_sent['package_size'].unique()

array(['SMALL', 'LARGE', 'MEDIUM', 'HEAVY_LARGE', 'HEAVY_SMALL',
       'HEAVY_MEDIUM'], dtype=object)

In [84]:
revenue_sent['package_size'].value_counts()

MEDIUM          8816
SMALL           8597
LARGE           2473
HEAVY_SMALL       96
HEAVY_LARGE       10
HEAVY_MEDIUM       8
Name: package_size, dtype: int64

In [ ]:
# 8597 small items, 8816 medium items, 2473 large items, 10 heavy large items, 96 heavy small items, 8 heavy medium items.

In [104]:
# Average shipping price charged to the buyer by Vinted 
print(revenue_sent_small['VAT_excluded'].mean()) # average price of a small package
print(revenue_sent_medium['VAT_excluded'].mean()) # average prive of a medium package
print(revenue_sent_large['VAT_excluded'].mean()) # avg. price of a large package
print(revenue_sent_heavy_small['VAT_excluded'].mean()) # avg. price of a heavy small package
print(revenue_sent_heavy_medium['VAT_excluded'].mean()) # avg. price of a heavy medium package
print(revenue_sent_heavy_large['VAT_excluded'].mean())# avg. price of a heavy large package

0.873387693381412
0.8937768375680579
4.118425232511121
5.09795
6.8562
9.97776

In [105]:

print(8597*0.873387693381412) # revenue of small packages
print(8816*0.8937768375680579) # revenue of medium packages
print(2473*4.118425232511121) # revenue of large packages
print(96*5.09795) # revenue of heavy small packages
print(8*6.8562) # revenue of heavy medium packages
print(10*9.97776) # revenue of heavy large packages

7508.513999999999
7879.5365999999985
10184.865600000001
489.40319999999997
54.8496
99.7776

### Cost

In [115]:
invoice_sent_small = invoice_sent[invoice_sent['package_size_code'] == 'SMALL']

In [116]:
invoice_sent_medium = invoice_sent[invoice_sent['package_size_code'] == 'MEDIUM']

In [117]:
invoice_sent_large = invoice_sent[invoice_sent['package_size_code'] == 'LARGE']

In [118]:
invoice_sent_heavy_small = invoice_sent[invoice_sent['package_size_code'] == 'HEAVY_SMALL']

In [119]:
invoice_sent_heavy_medium = invoice_sent[invoice_sent['package_size_code'] == 'HEAVY_MEDIUM']

In [120]:
invoice_sent_heavy_large = invoice_sent[invoice_sent['package_size_code'] == 'HEAVY_LARGE']

In [186]:
# average amount the carrier is charging Vinted / VAT excluded per package
print(invoice_sent['amount'].mean())
print(invoice_sent_small['amount'].mean())
print(invoice_sent_medium['amount'].mean())
print(invoice_sent_large['amount'].mean())
print(invoice_sent_heavy_small['amount'].mean())
print(invoice_sent_heavy_medium['amount'].mean())
print(invoice_sent_heavy_large['amount'].mean())

5.0510505
4.770726997789926
5.045323275862069
5.894395471087748
7.911145833333333
7.86125
12.829999999999998

In [229]:
print(invoice_sent['amount'].sum())

101021.01

In [126]:
revenue_sent['item_price'] = revenue_sent['gmv'] - revenue_sent['VAT_excluded']

In [130]:
naujas = pandas.read_excel('bendras.xlsx')

In [137]:
naujas['cost'] = naujas['amount'] - naujas['VAT_excluded']

In [187]:
naujas

,transaction_date,package_quantity,country,invoice_number,charge_classification_code,currency,billed_weight,tracking_number,charge_description,from_country,...,transaction_id.1,gmv,local_date,refunded_at,refund_reason,package_size,buyer_shipment_price,VAT_excluded,item bought price,cost
0,2021-02-03,1,IT,NaN,NaN,EUR,0.5,1078440000106,TB Standard,IT,...,NaN,12.5,2021-02-02,NaN,NaN,SMALL,0.99,0.7722,11.7278,2.9178
1,2021-02-23,1,IT,NaN,NaN,EUR,2.0,1078440000225,TB Standard,IT,...,NaN,10.5,2021-02-22,NaN,NaN,SMALL,0.99,0.7722,9.7278,3.6978
2,2021-03-03,1,IT,NaN,NaN,EUR,6.5,1078440000284,TB Standard,IT,...,NaN,45.5,2021-02-25,NaN,NaN,LARGE,5.49,4.2822,41.2178,2.7078
3,2021-02-15,1,IT,NaN,NaN,EUR,0.5,1078440000314,TB Standard,IT,...,NaN,30.5,2021-02-12,NaN,NaN,SMALL,0.99,0.7722,29.7278,2.9178
4,2021-03-01,1,IT,NaN,NaN,EUR,0.5,1078440000400,TB Standard,IT,...,NaN,12.5,2021-02-26,NaN,NaN,SMALL,0.99,0.7722,11.7278,2.9178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2021-01-25,1,IT,NaN,NaN,EUR,1.0,1078443168103,Dom. Standard,IT,...,NaN,10.5,2021-01-22,NaN,NaN,MEDIUM,0.99,0.7722,9.7278,2.8378
19996,2021-02-11,1,IT,NaN,NaN,EUR,3.5,1078443168222,TB Standard,IT,...,NaN,10.5,2021-02-05,NaN,NaN,MEDIUM,0.99,0.7722,9.7278,5.0478
19997,2021-02-11,0,IT,NaN,NaN,EUR,0.0,1078443168222,Extended Area P/U Surcharge-Origin,IT,...,NaN,10.5,2021-02-05,NaN,NaN,MEDIUM,0.99,0.7722,9.7278,4.8878
19998,2021-02-16,1,IT,NaN,NaN,EUR,2.0,1078443168367,TB Standard,IT,...,NaN,25.5,2021-02-16,NaN,NaN,MEDIUM,0.99,0.7722,24.7278,3.6978
19999,2021-02-25,1,IT,NaN,NaN,EUR,4.0,1078443168486,TB Standard,IT,...,NaN,75.5,2021-02-19,NaN,NaN,LARGE,5.49,4.2822,71.2178,0.9078

In [143]:
cost_small = naujas[naujas['package_size'] == 'SMALL']
cost_medium = naujas[naujas['package_size'] == 'MEDIUM']
cost_large = naujas[naujas['package_size'] == 'LARGE']
cost_heavy_small = naujas[naujas['package_size'] == 'HEAVY_SMALL']
cost_heavy_medium = naujas[naujas['package_size'] == 'HEAVY_MEDIUM']
cost_heavy_large = naujas[naujas['package_size'] == 'HEAVY_LARGE']

In [190]:
# Average cost per package size

In [144]:
print(cost_small['cost'].mean())
print(cost_medium['cost'].mean())
print(cost_large['cost'].mean())
print(cost_heavy_small['cost'].mean())
print(cost_heavy_medium['cost'].mean())
print(cost_heavy_large['cost'].mean())

3.8973393044085145
4.1515464382940115
1.7759702385766276
2.813195833333333
1.0050499999999998
2.8522399999999997

In [195]:
print(naujas['cost'].sum())

74804.0634

In [ ]:
# Total costs per package size

In [192]:
print(cost_small['cost'].sum())
print(cost_medium['cost'].sum())
print(cost_large['cost'].sum())
print(cost_heavy_small['cost'].sum())
print(cost_heavy_medium['cost'].sum())
print(cost_heavy_large['cost'].sum())

33505.426
36600.03340000001
4391.9744
270.06679999999994
8.040399999999998
28.522399999999998

In [199]:
revenue_sent_small['VAT_excluded'].sum()

7508.513999999999

In [ ]:
naujas['profit'] = naujas[''] - naujas['VAT_excluded']

In [206]:
print(revenue_sent_small['VAT_excluded'].sum()) #revenue of small packages (antras budas skaiciuoti)
print(revenue_sent_medium['VAT_excluded'].sum())
print(revenue_sent_large['VAT_excluded'].sum())
print(revenue_sent_heavy_small['VAT_excluded'].sum())
print(revenue_sent_heavy_medium['VAT_excluded'].sum())
print(revenue_sent_heavy_large['VAT_excluded'].sum())

7508.513999999999
7879.5365999999985
10184.865600000001
489.40319999999997
54.8496
99.77759999999999

#### GMV per package size

In [204]:
print(cost_small['gmv'].sum())
print(cost_medium['gmv'].sum())
print(cost_large['gmv'].sum())
print(cost_heavy_small['gmv'].sum())
print(cost_heavy_medium['gmv'].sum())
print(cost_heavy_large['gmv'].sum())

167691.99000000002
222847.58
117358.14
5404.549999999999
312.0
515.0

### Profit

In [208]:
naujas['profit'] = naujas['gmv'] - naujas['VAT_excluded'] - naujas['cost']

In [210]:
naujas.to_excel('naujas.xlsx')

In [217]:
profit_small = naujas[naujas['package_size'] == 'SMALL']
profit_medium = naujas[naujas['package_size'] == 'MEDIUM']
profit_large = naujas[naujas['package_size'] == 'LARGE']
profit_heavy_small = naujas[naujas['package_size'] == 'HEAVY_SMALL']
profit_heavy_medium = naujas[naujas['package_size'] == 'HEAVY_MEDIUM']
profit_heavy_large = naujas[naujas['package_size'] == 'HEAVY_LARGE']

In [218]:
print(profit_small['profit'].sum())
print(profit_medium['profit'].sum())
print(profit_large['profit'].sum())
print(profit_heavy_small['profit'].sum())
print(profit_heavy_medium['profit'].sum())
print(profit_heavy_large['profit'].sum())

126678.05
178368.00999999998
102781.3
4645.08
249.10999999999999
386.70000000000005

## GMV - VATEXCL

In [230]:
naujas['item_bought_price'] = naujas['gmv'] - naujas['VAT_excluded']

In [231]:
item_bought_price_small = naujas[naujas['package_size'] == 'SMALL']
item_bought_price_medium = naujas[naujas['package_size'] == 'MEDIUM']
item_bought_price_large = naujas[naujas['package_size'] == 'LARGE']
item_bought_price_heavy_small = naujas[naujas['package_size'] == 'HEAVY_SMALL']
item_bought_price_heavy_medium = naujas[naujas['package_size'] == 'HEAVY_MEDIUM']
item_bought_price_heavy_large = naujas[naujas['package_size'] == 'HEAVY_LARGE']

In [232]:
print(item_bought_price_small['item_bought_price'].sum())
print(item_bought_price_medium['item_bought_price'].sum())
print(item_bought_price_large['item_bought_price'].sum())
print(item_bought_price_heavy_small['item_bought_price'].sum())
print(item_bought_price_heavy_medium['item_bought_price'].sum())
print(item_bought_price_heavy_large['item_bought_price'].sum())

160183.476
214968.04340000002
107173.27440000001
4915.1467999999995
257.1504
415.22240000000005

In [227]:
naujas

,transaction_date,package_quantity,country,invoice_number,charge_classification_code,currency,billed_weight,tracking_number,charge_description,from_country,...,local_date,refunded_at,refund_reason,package_size,buyer_shipment_price,VAT_excluded,item bought price,cost,profit,item_bought_price
0,2021-02-03,1,IT,NaN,NaN,EUR,0.5,1078440000106,TB Standard,IT,...,2021-02-02,NaN,NaN,SMALL,0.99,0.7722,11.7278,2.9178,8.81,11.7278
1,2021-02-23,1,IT,NaN,NaN,EUR,2.0,1078440000225,TB Standard,IT,...,2021-02-22,NaN,NaN,SMALL,0.99,0.7722,9.7278,3.6978,6.03,9.7278
2,2021-03-03,1,IT,NaN,NaN,EUR,6.5,1078440000284,TB Standard,IT,...,2021-02-25,NaN,NaN,LARGE,5.49,4.2822,41.2178,2.7078,38.51,41.2178
3,2021-02-15,1,IT,NaN,NaN,EUR,0.5,1078440000314,TB Standard,IT,...,2021-02-12,NaN,NaN,SMALL,0.99,0.7722,29.7278,2.9178,26.81,29.7278
4,2021-03-01,1,IT,NaN,NaN,EUR,0.5,1078440000400,TB Standard,IT,...,2021-02-26,NaN,NaN,SMALL,0.99,0.7722,11.7278,2.9178,8.81,11.7278
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2021-01-25,1,IT,NaN,NaN,EUR,1.0,1078443168103,Dom. Standard,IT,...,2021-01-22,NaN,NaN,MEDIUM,0.99,0.7722,9.7278,2.8378,6.89,9.7278
19996,2021-02-11,1,IT,NaN,NaN,EUR,3.5,1078443168222,TB Standard,IT,...,2021-02-05,NaN,NaN,MEDIUM,0.99,0.7722,9.7278,5.0478,4.68,9.7278
19997,2021-02-11,0,IT,NaN,NaN,EUR,0.0,1078443168222,Extended Area P/U Surcharge-Origin,IT,...,2021-02-05,NaN,NaN,MEDIUM,0.99,0.7722,9.7278,4.8878,4.84,9.7278
19998,2021-02-16,1,IT,NaN,NaN,EUR,2.0,1078443168367,TB Standard,IT,...,2021-02-16,NaN,NaN,MEDIUM,0.99,0.7722,24.7278,3.6978,21.03,24.7278
19999,2021-02-25,1,IT,NaN,NaN,EUR,4.0,1078443168486,TB Standard,IT,...,2021-02-19,NaN,NaN,LARGE,5.49,4.2822,71.2178,0.9078,70.31,71.2178

In [234]:
naujas['pelnas'] = naujas['gmv'] - naujas['item_bought_price'] - naujas['cost']

In [ ]:
item_bought_price_small = naujas[naujas['package_size'] == 'SMALL']

In [237]:
PELNAS_SMALL = naujas[naujas['package_size'] == 'SMALL']
PELNAS_MEDIUM = naujas[naujas['package_size'] == 'MEDIUM']
PELNAS_LARGE = naujas[naujas['package_size'] == 'LARGE']
PELNAS_HEAVY_SMALL = naujas[naujas['package_size'] == 'HEAVY_SMALL']
PELNAS_HEAVY_MEDIUM = naujas[naujas['package_size'] == 'HEAVY_MEDIUM']
PELNAS_HEAVY_LARGE = naujas[naujas['package_size'] == 'HEAVY_LARGE']

In [239]:
print(PELNAS_SMALL['pelnas'].sum())
print(PELNAS_MEDIUM['pelnas'].sum())
print(PELNAS_LARGE['pelnas'].sum())
print(PELNAS_HEAVY_SMALL['pelnas'].sum())
print(PELNAS_HEAVY_MEDIUM['pelnas'].sum())
print(PELNAS_HEAVY_LARGE['pelnas'].sum())

-25996.912
-28720.4968
5792.891200000001
219.33640000000008
46.80920000000002
71.25519999999999

In [241]:
naujas['pelnas'].sum()

-48587.1168

In [246]:
invoice_sent['amount'].mean()

5.0510505

In [247]:
invoice_sent['billed_weight'].mean()

1.426475

In [248]:
invoice_sent['entered_weight'].mean()

0.880675

In [249]:
invoice_sent_heavy_large['amount'].mean()

12.829999999999998