# Homework1

In [6]:
# 1. Atspausdinkite savo varda ir pavarde viena print() funkcija.
# Panaudokite du kintamuosius, panaudokite viengubas ir dvigubas kabutes.

name = 'Juste'
surname = "Leisyte"
print(f'My name is {name} {surname}')
print('My name is', name, surname)

My name is Juste Leisyte
My name is Juste Leisyte

In [8]:
# 2. Is stringo "Python makes me really really happy!"
# I ekrana isveskite stringa tik didziosiomis raidemis;
# Pakeiskite zodi Python i PyThOn naudodami replace()

text = "Python makes me really really happy!"
print(text.upper())
print(text.replace('Python', 'PyThOn'))

PYTHON MAKES ME REALLY REALLY HAPPY!
PyThOn makes me really really happy!

In [25]:
# 3. Is stringo 'Hello World, I am happy to learn Python!'
# Atspausdinkite 'happy' naudodami slice funckija. Naudokite .index('happy'), len('happy');
# Atspausdinkite 'to' naudodami slice sintakse;
# Koks sio string ilgis?

text_1 = "Hello World, I am happy to learn Python!"
word_to_find = 'to'

print(text_1.index('happy'))
print(text_1[18:24])
print(text_1[ text_1.index('happy') : 24 ])
print(text_1[ text_1.index('happy') : text_1.index('happy')+len('happy')])

print(text_1[ text_1.index(word_to_find) : text_1.index(word_to_find) + len(word_to_find)])

print(len(text_1))

18
happy
happy
happy
to
40

# Homework 2

In [34]:
# 1. Jeigu noretume nuvaziuoti iki menulio (384000km) automobiliu, kurio greitis
# 150km/h, kiek valandu, metu, menesiu, dienu, sekundziu tai uztruktu?

dist_moon = 384000 #km
car_speed_h = 150 #km/h

car_speed_y = car_speed_h * 24 * 365
car_speed_m = car_speed_h * 24 * 30
car_speed_d = car_speed_h * 24
car_speed_s = car_speed_h / 60 / 60

print(car_speed_h, 'km/hours')
print(car_speed_y, 'km/year')
print(car_speed_m, 'km/months')
print(car_speed_d, 'km/days')
print(car_speed_s, 'km/seconds')

print('valandu: ', dist_moon / car_speed_h)
print('metu: ', dist_moon / car_speed_y)
print('menesiu: ', dist_moon / car_speed_m)
print('dienu: ', dist_moon / car_speed_d)
print('sekundziu: ', dist_moon / car_speed_s)

150 km/hours
1314000 km/year
108000 km/months
3600 km/days
0.041666666666666664 km/seconds
valandu:  2560.0
metu:  0.2922374429223744
menesiu:  3.5555555555555554
dienu:  106.66666666666667
sekundziu:  9216000.0

In [62]:
# 2. Kiek dienu praejo nuo jusu gimimo dienos?

# import datetime
from datetime import date

birthday = date(1997, 5, 27)
print(birthday)
today = date.today()
print(today)

print(f'Dienu skaicius nuo gimtadienio: {(today - birthday).days}')

1997-05-27
2022-02-23
Dienu skaicius nuo gimtadienio: 9038

In [72]:
birthday_1 = date(1964, 2, 23)
print(birthday_1)
today = date.today()
print(today)
skirtumas_1 = (today - birthday_1)
print(f'Dienu skaicius nuo gimtadienio: {skirtumas_1.days}')

1964-02-23
2022-02-23
Dienu skaicius nuo gimtadienio: 21185

In [81]:
# 3. Sudeti du tuple, isimti paskutini nari is sudeto tuple, isrikiuoti tuple, suskaiciuoti kiek yra kokios nors reiksmes ivesciu tuple, rasti didziausia reiksme

my_tuple = (2, 5, 464) + (43, 645, 5, 3)
print(my_tuple)
my_tuple = my_tuple[:-1]
print(my_tuple)
my_tuple = tuple(sorted(my_tuple))
print(my_tuple)

print(my_tuple.count(5))
print(my_tuple[-1]) 
print(max(my_tuple))

(2, 5, 464, 43, 645, 5, 3)
(2, 5, 464, 43, 645, 5)
(2, 5, 5, 43, 464, 645)
2
645
645

# Range

In [86]:
numbers = range(4,95,2)
print(numbers)

print(list(numbers))

range(4, 95, 2)
[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94]

In [88]:
print(list(range(4,456,7)))

[4, 11, 18, 25, 32, 39, 46, 53, 60, 67, 74, 81, 88, 95, 102, 109, 116, 123, 130, 137, 144, 151, 158, 165, 172, 179, 186, 193, 200, 207, 214, 221, 228, 235, 242, 249, 256, 263, 270, 277, 284, 291, 298, 305, 312, 319, 326, 333, 340, 347, 354, 361, 368, 375, 382, 389, 396, 403, 410, 417, 424, 431, 438, 445, 452]

# For loop

In [94]:
print(list(range(3,11,2)))
for number in range(3,11,2):
    print('ciklas prasidejo')
    print(number)
print('pabaiga')

[3, 5, 7, 9]
ciklas prasidejo
3
ciklas prasidejo
5
ciklas prasidejo
7
ciklas prasidejo
9
pabaiga

In [96]:
miestai = ['Vilnius', 'Kaunas', 'Klaipeda']

for miestas in miestai:
    print(miestas)

Vilnius
Kaunas
Klaipeda

In [103]:
miestai = ['Vilnius', 'Kaunas', 'Klaipeda']
for miestas in miestai:
    if miestas == 'Vilnius':
        print('Radau Vilniu!')
    else:
        print(miestas)

Radau Vilniu!
Kaunas
Klaipeda

In [107]:
cities = ['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys', 'Panevezys']

for city in cities:
    print(f'Sveikiname {city} su kazkokia svente')
    print('pradedam sekancia ciklo iteracija')
print('po ciklo')

Sveikiname Vilnius su kazkokia svente
pradedam sekancia ciklo iteracija
Sveikiname Kaunas su kazkokia svente
pradedam sekancia ciklo iteracija
Sveikiname Siauliai su kazkokia svente
pradedam sekancia ciklo iteracija
Sveikiname Marijampole su kazkokia svente
pradedam sekancia ciklo iteracija
Sveikiname Panevezys su kazkokia svente
pradedam sekancia ciklo iteracija
Sveikiname Panevezys su kazkokia svente
pradedam sekancia ciklo iteracija
po ciklo

# For loop uzduotys

In [118]:
# 1. Atspausdinkite pirmus 10 imtinai skaiciu naudodami for loop

for skaicius in range(1,11):
    print (skaicius)

1
2
3
4
5
6
7
8
9
10

In [131]:
# 2. Gaukite suma pirmu 50 skaiciu imtinai

suma=0 #tarpine verte, kuri kinta kiekvieno ciklo metu
for number in range(1,51):
    suma += number
    #print(suma)
print(suma)

1275

In [137]:
# 1. Input. Leiskite pasirinkti skaiciu, atspausdinkite jo saundauga nuo 1 iki 10 imtinai.

input_number = int(input('Iveskite skaiciu: '))
print(input_number)

for number in range(1,11):
    print(f'{input_number} * {number} = {input_number * number}')

6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [139]:
# Gaukite visas imanomas kombinacijas is siu sarasu, irasykite jas i lista

dienos = ['Pirmadienis', 'Antradienis', 'Treciadienis', 'Ketvirtadienis', 'Penktadienis', 'Sestadienis', 'Sekmadienis']
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [147]:
kombinacijos = []
for diena in dienos:
    for valanda in valandos:
        kombinacijos.append((diena, valanda)) # i tuscia lista idetos visos kombinacijos 
        #print(diena, valanda)
print(kombinacijos)

[('Pirmadienis', 10), ('Pirmadienis', 11), ('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Pirmadienis', 18), ('Pirmadienis', 19), ('Antradienis', 10), ('Antradienis', 11), ('Antradienis', 12), ('Antradienis', 13), ('Antradienis', 14), ('Antradienis', 15), ('Antradienis', 16), ('Antradienis', 17), ('Antradienis', 18), ('Antradienis', 19), ('Treciadienis', 10), ('Treciadienis', 11), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17), ('Treciadienis', 18), ('Treciadienis', 19), ('Ketvirtadienis', 10), ('Ketvirtadienis', 11), ('Ketvirtadienis', 12), ('Ketvirtadienis', 13), ('Ketvirtadienis', 14), ('Ketvirtadienis', 15), ('Ketvirtadienis', 16), ('Ketvirtadienis', 17), ('Ketvirtadienis', 18), ('Ketvirtadienis', 19), ('Penktadienis', 10), ('Penktadienis', 11), ('Penktadienis', 12), ('Penktadienis', 13), ('Penktadienis', 14), ('Penktadienis', 15), ('Penktadienis', 16), ('Penktadienis', 17), ('Penktadienis', 18), ('Penktadienis', 19), ('Sestadienis', 10), ('Sestadienis', 11), ('Sestadienis', 12), ('Sestadienis', 13), ('Sestadienis', 14), ('Sestadienis', 15), ('Sestadienis', 16), ('Sestadienis', 17), ('Sestadienis', 18), ('Sestadienis', 19), ('Sekmadienis', 10), ('Sekmadienis', 11), ('Sekmadienis', 12), ('Sekmadienis', 13), ('Sekmadienis', 14), ('Sekmadienis', 15), ('Sekmadienis', 16), ('Sekmadienis', 17), ('Sekmadienis', 18), ('Sekmadienis', 19)]

# If deklaracija

In [157]:
# Vienas if

x = 0

if x > 2:
    print('x yra daygiau uz du') # jei tiesa atliekamas sitas veiksmas TIK JEI ATITINKA SALYGA
print('po if salygos') # visada atspausdina

po if salygos

In [161]:
# ELSE # arba viena arba kita, niekada abieju nedaro

x=4

if x > 2:
    print ('x yra daugiau uz du')
else:
    print('x nera daugiau uz du')

x yra daugiau uz du

In [173]:
# ELIF 

# du kintamieji # aktyvuosis tik viena salyga

x = 5
y = 38

if x > 10: #sitos neatitinka
    print('if atitinka')
elif x > 0 and y > 12: # jei tenkina sita i kitas salygas neziuri /atitinka sita dali
    print('atitinka elif salyga') # tad paleidzia sita komanda ir i kitas neziuri
elif x > -5 and y > 30:
    print('atitinka antra elif salyga')
else:
    print('else salyga')

print('po if salygos')

atitinka elif salyga
po if salygos

# If uzduotys

In [185]:
# 1. Atspausdinkite pirmus 20 skaiciu, jeigu jis dalinasi is 3 be liekanos naudodami for loop ir if

for number in range(1,21): # gaunam skaicius tuos
    if number % 3 == 0: #tikrinam, kurie is judalinasi is triju
        print(f'{number} dalinas is 3 be liekanos')

3 dalinas is 3 be liekanos
6 dalinas is 3 be liekanos
9 dalinas is 3 be liekanos
12 dalinas is 3 be liekanos
15 dalinas is 3 be liekanos
18 dalinas is 3 be liekanos

In [194]:
# 2. Gaukite suma pirmu 50 skaiciu imtinai, tik tada, jei nauja einama suma bus lygine

suma=0 #tarpine verte, kuri kinta kiekvieno ciklo metu
for number in range(1,51):
    if (suma + number) % 2 == 0: # != nelygu
        suma += number
        #print(suma)
print(suma)

650

In [224]:
# 3. Leiskite pasirinkti skaiciu, atspausdinkite jo sandauga nuo 1 iki 10 tik tada, jei pasirinktas skaicius pakeltas kvadratu yra nelyginis

input_number = int(input('Iveskite skaiciu'))
print(input_number)

if (input_number ** 2) % 2 !=0:
    for number in range(1,11):
        print(f'{input_number} * {number} = {input_number * number} ')
else:
        print('skaicius pakeltas kvadratu yra lyginis')

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [234]:
# 3. Gaukite visas imanomas kombinacijas is siu sarasu tik tada, jei diena
# yra arba pirmadienis arba treciadienis, o valandos yra nuo 12 iki 17, irasykite jas i lista

dienos = ['Pirmadienis', 'Antradienis', 'Treciadienis', 'Ketvirtadienis', 'Penktadienis', 'Sestadienis', 'Sekmadienis']
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

darbo_dienos = ['Pirmadienis', 'Treciadienis']
darbo_valandos = list(range(12,18))
kombinacijos =[]
for diena in dienos:
    # if diena == 'Pirmadienis' or diena == 'Treciadienis':
    if diena in darbo_dienos:
        for valanda in valandos:
            if valanda in darbo_valandos:
                kombinacijos.append((diena, valanda))
print(kombinacijos)

[('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17)]

# None

In [236]:
# none - tuo metu jokios reiksmes nera priskirta kintamajam
# duonenu apie kintamaji nera
# galimybe tikrinti ar jau atsirado informacija ar dar ne

In [239]:
niekas = None
print(niekas)
print(type(niekas))

None
<class 'NoneType'>