In [3]:
print(type(420))
print(type(420.))
print(type(420.5))

<class 'int'>
<class 'float'>
<class 'float'>

In [6]:
suma = 0
suma = suma + 5
print(suma)
suma = suma + 6
print(suma)
suma += 7
print(suma)

5
11
18

In [11]:
sandauga = 1
sandauga *= 10
print(sandauga)
sandauga *= 4.5
print(sandauga)
sandauga **=2
print(sandauga)

10
45.0
2025.0

In [17]:
n_1 = 23.2
n_2 = 4.63
print(n_1+n_2)
print(n_1-n_2)
print(n_1*n_2)
print('dalybos liekana:',n_1%n_2)
print('sveikoji dalis dalybos:',n_1//n_2)
print(n_1/n_2)

27.83
18.57
107.416
dalybos liekana: 0.04999999999999982
sveikoji dalis dalybos: 5.0
5.010799136069115

In [19]:
dist_moon = 384000
dist_sun = 150000000
print(f'Atstumas iki saules yra {dist_sun/dist_moon} kartu didesnis nei iki menulio')

Atstumas iki saules yra 390.625 kartu didesnis nei iki menulio

In [20]:
car_speed = 150
print('valandu:', dist_moon/car_speed)

valandu: 2560.0

In [22]:
loginis_kintamasis = True
print(type(loginis_kintamasis))
print(loginis_kintamasis)

<class 'bool'>
True

In [24]:
print(int(loginis_kintamasis))
print(int(False))

1
0

In [32]:
print (10>5)
print(10<5)
print(10<10)
print(10<=10)
print(10>=10)
print('50 == number:', 50 == number)
print('100 == number:', 100 == number)
print ('100!= number', 90!= number)

True
False
False
True
True

NameError: name 'number' is not defined

In [33]:
print('bool(1654)', bool(1654))
print('bool(0)',bool(0))
print('bool(-1)',bool(-1))

bool(1654) True
bool(0) False
bool(-1) True

In [42]:
print(not 5 > 10)
print (not True)
print (not False)
print ('Vilnius' in 'Vilnius, Kaunas')
print('Vilnius' in 'Vilnius, Kaunas')
print ('Klaipeda' in 'Vilnius, Kaunas')
print ('s' in 'Vilnius, Kaunas')
print ('kaunas' in 'Vilnius, Kaunas')

True
False
True
True
True
False
True
False

In [45]:
print(True==1)
print(False==0)

True
True

In [51]:
print(5>2)
print(not 5<2)
print('a' in 'paskaita')
print(10/5 > 1)
print (not 's' in 'Lova')


print (2>10)
print (bool(0))
print (not 'o' in 'lova' and 2>1)
print ('d' in 'abc')
print (0==1)

True
True
True
True
True
False
False
False
False
False
True

In [56]:
float_1=2.2
float_2=3.3
print(float_1-float_2)

-1.0999999999999996

In [61]:
cities = ['Vilnius','Kaunas','Klaipeda']
print (type(cities))
print(type([]))
print(cities[0])
print(cities[-1])
print(cities[1:])

<class 'list'>
<class 'list'>
Vilnius
Klaipeda
['Kaunas', 'Klaipeda']

In [62]:
cities[-1]='Siauliai'
print(cities)

['Vilnius', 'Kaunas', 'Siauliai']

In [71]:
cities.append('Marijampole')
print(cities)

['Vilnius', 'Kaunas', 'Siauliai', 'Panevezys', 'Marijampole']

In [67]:
print(cities)
cities.remove('Panevezys')

['Vilnius', 'Kaunas', 'Siauliai', 'Panevezys', 'Panevezys', 'Panevezys']

In [69]:
print(cities)
cities.remove('Panevezys')

['Vilnius', 'Kaunas', 'Siauliai', 'Panevezys', 'Panevezys']

In [72]:
print(cities)

['Vilnius', 'Kaunas', 'Siauliai', 'Panevezys', 'Marijampole']

In [76]:
cities.append('Marijampole')
cities.append('Panevezys')
print(cities)
cities.pop()
print(cities)
cities.pop()

['Vilnius', 'Kaunas', 'Siauliai', 'Panevezys', 'Marijampole', 'Marijampole', 'Panevezys']
['Vilnius', 'Kaunas', 'Siauliai', 'Panevezys', 'Marijampole', 'Marijampole']

'Marijampole'

In [80]:
new_cities = ['New York','London']
print(cities)
cities.extend(new_cities)
print('po extend')
print(len(cities),cities)
cities.pop()
cities.pop()
cities.append(new_cities)
print('po append')
print(len(cities),cities)
cities.pop()

['Vilnius', 'Kaunas', 'Siauliai', 'Panevezys', 'Marijampole']
po extend
7 ['Vilnius', 'Kaunas', 'Siauliai', 'Panevezys', 'Marijampole', 'New York', 'London']
po append
6 ['Vilnius', 'Kaunas', 'Siauliai', 'Panevezys', 'Marijampole', ['New York', 'London']]

['New York', 'London']

In [81]:
cities.clear()
print(cities)

[]

In [86]:
cities = ('V','K','P','S','P')
print(cities.count('P'))
print(cities.count('V'))

2
1

In [88]:
cities.index('P')

2

In [89]:
cities.insert(2,'Klaipeda')
print(cities)

AttributeError: 'tuple' object has no attribute 'insert'

In [92]:
print(cities[::-1])
print(cities)
print(cities)

('P', 'S', 'P', 'K', 'V')
('V', 'K', 'P', 'S', 'P')
('V', 'K', 'P', 'S', 'P')

In [96]:
numbers = [546, 3656, 43, 656, 1, 354, 0, 233]
print(numbers)
numbers.sort(reverse=True)
print(numbers)

[546, 3656, 43, 656, 1, 354, 0, 233]
[3656, 656, 546, 354, 233, 43, 1, 0]

In [103]:
print(bool([]))
print(bool([5]))
print(bool([False, 0, '']))
print('P' in cities)
print('Berlin'in cities)

False
True
True
True
False

In [104]:
my_list = [1,3,58] + ['A', False]
print(my_list)

[1, 3, 58, 'A', False]

In [110]:
my_list = ['first',3,58] * 50
print(my_list)

['first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58]

In [116]:
number_1 = 6
number_2 = number_1
print(id(number_1))
print(id(number_2))
number_2 = 13
print('number_1:',number_1)
print('number_2:',number_2)
print(id(number_1))
print(id(number_2))

3076026335632
3076026335632
number_1: 6
number_2: 13
3076026335632
3076026335856

In [119]:
numbers_1 = [1,5,10]
numbers_2 = numbers_1
print(id(numbers_1))
print(id(numbers_2))
numbers_2.append(13)
print('numbers_1:', numbers_1)
print('numbers_2:',numbers_2)
print(id(numbers_1))
print(id(numbers_2))

3076140599232
3076140599232
numbers_1: [1, 5, 10, 13]
numbers_2: [1, 5, 10, 13]
3076140599232
3076140599232

In [124]:
my_list = [5,6,7]
print(my_list)
print(len(my_list))
my_list.append('kriause')
print(my_list)
print('kriause' in my_list)

[5, 6, 7]
3
[5, 6, 7, 'kriause']
True

In [137]:
list_1 = [1,5,3,9] + [4,7,9,9]
print(list_1)
list_1.pop()
print(list_1)
list_1.sort()
print(list_1)
print(list_1.count(9))

[1, 5, 3, 9, 4, 7, 9, 9]
[1, 5, 3, 9, 4, 7, 9]
[1, 3, 4, 5, 7, 9, 9]
2

In [143]:
my_list_2 = [1,[[5346, 6], 53, 3], [54]
print(my_list_2)
print(my_list_2[1])
print(my_list_2[1][0])
print(my_list_2[1],[0],[1])

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1640731760.py, line 1)

In [145]:
my_tuple = (1,2,3)

In [148]:
print(my_tuple)
print(my_tuple[1])
print(my_tuple[:2])

(1, 2, 3)
2
(1, 2)

In [153]:
my_numbers = range(54,158,3)
print (type(my_numbers))
print(my_numbers)
print(list(my_numbers))

<class 'range'>
range(54, 158, 3)
[54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156]

In [159]:
print(list(range(50,-158,-7)))
print(list(range(20,81,2)))

[50, 43, 36, 29, 22, 15, 8, 1, -6, -13, -20, -27, -34, -41, -48, -55, -62, -69, -76, -83, -90, -97, -104, -111, -118, -125, -132, -139, -146, -153]
[20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80]

In [160]:
cities

('V', 'K', 'P', 'S', 'P')

In [164]:
for number in range(3,11,2):
       print('ciklas prasidejo')
       print(number)

ciklas prasidejo
3
ciklas prasidejo
5
ciklas prasidejo
7
ciklas prasidejo
9

In [165]:
https://github.com/Justelei/Python_mokymai.git

SyntaxError: invalid syntax (948810262.py, line 1)