In [1]:
number = 47
print(number + 5)
print(number - 5)
print(number * 5)
print(number / 5)
print(number ** 5) # kelimas kvadratu
print(2 ** 3) 
print(number // 5) # sveikoji dalis
print(number % 5) # likutine dalis
print(3 % 2) # likutine dalis
print(6 % 2) # likutine dalis
print('4 % 5 :', 4 % 5) # likutine dalis
print('6 % 5 :', 6 % 5) # likutine dalis

52
42
235
9.4
229345007
8
9
2
1
0
4 % 5 : 4
6 % 5 : 1

In [5]:
print(type(420))
print(type(420.))
print(type(420.5))

<class 'int'>
<class 'float'>
<class 'float'>

In [10]:
suma = 0
# akumuliuoti skaiciu suma
suma = suma + 5
print(suma)
suma = suma + 6
print (suma)
suma += 7
print(suma)

5
11
18

In [17]:
sandauga = 1
sandauga *= 10
print(sandauga)
sandauga *= 4.5
print(sandauga)
sandauga **= 2
print(sandauga)

10
45.0
2025.0

# Int, float uzduotys

In [25]:
# Deklaruokite du int tipo kintamuosius.
# Apskaiciuokite dvieju int suma, skirtuma, sandauga, liekana, padalinkite viena skaiciu is kito.

number_1 = 25
number_2 = 3

print(number_1 + number_2)
print(number_1 - number_2)
print(number_1 * number_2)
print(number_1 % number_2)
print(number_1 / number_2)

28
22
75
1
8.333333333333334

In [29]:
# Deklaruokite du float tipo kintamuosius.
# Apskaiciuokite dvieju float suma, skirtuma, sandauga, liekana, padalinkite viena skaiciu is kito.

n_1 = 25.2
n_2 = 4.2

print(n_1 + n_2)
print(n_1 - n_2)
print(n_1 * n_2)
print('dalybos liekana:', n_1 % n_2)
print('sveikoji dalis dalybos:', n_1 // n_2)
print(n_1 / n_2)

29.4
21.0
105.84
dalybos liekana: 4.199999999999998
sveikoji dalis dalybos: 5.0
6.0

In [33]:
# Atstumas iki menulio yra apie 384,000 km, o iki saules 150,000,000, kiek kartu atstumas iki saules yra didesnis nei iki menulio?
dist_moon = 384000
dist_sun = 150000000
print(f'Atstumas iki saules yra {dist_sun/dist_moon} kartu didesnis nei iki menulio')

Atstumas iki saules yra 390.625 kartu didesnis nei iki menulio

In [36]:
# Jeigu noretume nuvaziuoti iki menulio automobiliu, kurio greitis 150km/h, kiek valandu, metu, menesiu, dienu, sekundziu tai uztruktu?

car_speed = 150
dist_moon = 384000
print('Valandu:', (dist_moon/car_speed))

Valandu: 2560.0

# Boolean deklaracija

In [ ]:
# gali buti tik true (1) arba false (0) fgdfgfdgdf

In [39]:
loginis_kintamasis = True
print(type(loginis_kintamasis))
print(loginis_kintamasis)

<class 'bool'>
True