In [1]:
number = 47
print(number + 5)
print(number - 5)
print(number * 5)
print(number / 5)
print(number ** 5) # kelimas kvadratu
print(2 ** 3) 
print(number // 5) # sveikoji dalis
print(number % 5) # likutine dalis
print(3 % 2) # likutine dalis
print(6 % 2) # likutine dalis
print('4 % 5 :', 4 % 5) # likutine dalis
print('6 % 5 :', 6 % 5) # likutine dalis

52
42
235
9.4
229345007
8
9
2
1
0
4 % 5 : 4
6 % 5 : 1

In [5]:
print(type(420))
print(type(420.))
print(type(420.5))

<class 'int'>
<class 'float'>
<class 'float'>

In [10]:
suma = 0
# akumuliuoti skaiciu suma
suma = suma + 5
print(suma)
suma = suma + 6
print (suma)
suma += 7
print(suma)

5
11
18

In [17]:
sandauga = 1
sandauga *= 10
print(sandauga)
sandauga *= 4.5
print(sandauga)
sandauga **= 2
print(sandauga)

10
45.0
2025.0

# Int, float uzduotys

In [25]:
# Deklaruokite du int tipo kintamuosius.
# Apskaiciuokite dvieju int suma, skirtuma, sandauga, liekana, padalinkite viena skaiciu is kito.

number_1 = 25
number_2 = 3

print(number_1 + number_2)
print(number_1 - number_2)
print(number_1 * number_2)
print(number_1 % number_2)
print(number_1 / number_2)

28
22
75
1
8.333333333333334

In [29]:
# Deklaruokite du float tipo kintamuosius.
# Apskaiciuokite dvieju float suma, skirtuma, sandauga, liekana, padalinkite viena skaiciu is kito.

n_1 = 25.2
n_2 = 4.2

print(n_1 + n_2)
print(n_1 - n_2)
print(n_1 * n_2)
print('dalybos liekana:', n_1 % n_2)
print('sveikoji dalis dalybos:', n_1 // n_2)
print(n_1 / n_2)

29.4
21.0
105.84
dalybos liekana: 4.199999999999998
sveikoji dalis dalybos: 5.0
6.0

In [33]:
# Atstumas iki menulio yra apie 384,000 km, o iki saules 150,000,000, kiek kartu atstumas iki saules yra didesnis nei iki menulio?
dist_moon = 384000
dist_sun = 150000000
print(f'Atstumas iki saules yra {dist_sun/dist_moon} kartu didesnis nei iki menulio')

Atstumas iki saules yra 390.625 kartu didesnis nei iki menulio

In [36]:
# Jeigu noretume nuvaziuoti iki menulio automobiliu, kurio greitis 150km/h, kiek valandu, metu, menesiu, dienu, sekundziu tai uztruktu?

car_speed = 150
dist_moon = 384000
print('Valandu:', (dist_moon/car_speed))

Valandu: 2560.0

# Boolean deklaracija

In [ ]:
# gali buti tik true (1) arba false (0) fgdfgfdgdf

In [39]:
loginis_kintamasis = True
print(type(loginis_kintamasis))
print(loginis_kintamasis)

<class 'bool'>
True

In [40]:
print (int(loginis_kintamasis))
print(int(False)) # keicia false i skaiciu

1
0

In [41]:
number = 50
print(10 > 5)
print (10 < 5)
print (10 < 10)
print (10 <= 10)
print (10 >= 10)
print ('50 == number: ', 50 == number) # = - priskiria verte, == - palygina
print ('100 == number: ', 100 == number)

print ('100 != number: ', 100 != number) # != nera lygus
print ('90 != number: ', 90 != number) # != nera lygus
print ('50 != number: ', 50 != number) # != nera lygus

True
False
False
True
True
50 == number:  True
100 == number:  False
100 != number:  True
90 != number:  True
50 != number:  False

In [42]:
# galima keisti skaiciu i logine verte

print(bool(1654))
print(bool(0)) # skaiciu vercia atgal i logini kintamaji
print(bool(-1)) # viskas kas ne nulis bus true

print("bool(tekstas): ", bool('tekstas')) # galima ir teksta keisti i logini kintamaji
print("bool(): ", bool(''))
print("bool(' ') :", bool(' '))

True
False
True
bool(tekstas):  True
bool():  False
bool(' ') : True

In [43]:
# galime lyginti kelias salygas
# and salygoje is abieju pusiu turi veikti

print('10 < 5 :', 10 < 5)
print('10 > 8 :', 10 > 8)
print('10 < 5 and 10 > 8:', 10 < 5 and 10 > 8) # is abieju pusiu turi buti tiesos kad butu tiesa

print('10 < 50 and 10 > 8:', 10 < 50 and 10 > 8)

10 < 5 : False
10 > 8 : True
10 < 5 and 10 > 8: False
10 < 50 and 10 > 8: True

In [44]:
# or salygoje bent vienas is abieju turi but true, reikia bent vieno

print('10 < 5 or 10 > 8:', 10 < 5 or 10 > 8)
print('10 < 50 or 10 > 8:', 10 < 50 or 10 > 8)

10 < 5 or 10 > 8: True
10 < 50 or 10 > 8: True

In [45]:
# not - duoda priesinga atsakyma

print(not 5 > 10)
print(not True)
print(not False)

True
False
True

In [47]:
print ('Vilnius' in 'Vilnius, Kaunas')
print ('Klaipeda' in 'Vilnius, Kaunas')
print ('s' in 'Vilnius, Kaunas')
print ('kaunas' in 'Vilnius, Kaunas')
print('Kaunas' in 'Vilnius, Kaunas')

True
False
True
False
True

In [48]:
print(True == 1)
print(False == 0)

True
True

# Boolean uzduotys

In [49]:
# 1. Deklaruokite True reiksme 5 skirtingais budais

print(bool(-3))
print(not 1 > 2)
print(5 < 7)
print(1 == 1)
print(not 's' in 'Lova' and 2>1)
print(not 's' in 'Lova')

True
True
True
True
True
True

In [50]:
# 2. Deklaruokite False reiksme 5 skirtingais budais
print(0 == 1)
print (2 > 10)
print (not 10 > 2)
print ('d' in 'abc')
print(bool(0))
print ('s' in 'Lova')
print (not 's' in 'Lova' and 2 > 10)

False
False
False
False
False
False
False

In [51]:
print(str(True)) # keicia logini kintamaji i teksta

True

In [52]:
float_1 = 2.2
float_2 = 3.3
print(float_1-float_2)

-1.0999999999999996