In [1]:
text = "Python makes me really really happy!"
print(text.upper())
print(text.replace('Python', 'PyThOn'))

PYTHON MAKES ME REALLY REALLY HAPPY!
PyThOn makes me really really happy!

In [10]:
text = "Hello World, I am happy to learn Python"
print(text.index("happy")) #paklausti del print , duoda same ats su juo ir be jo
print(text[18:33])
print(text[text.index('happy'):text.index('happy')+len('happy')])

print(text[text.index('to'):text.index('to')+len('to')])

print(text[text.index(#word_to_find):text.index(word_to_find)+len(word_to_find)])

print(len(text))

SyntaxError: '(' was never closed (4244360399.py, line 8)

# Homework2

In [19]:
# Kiek dienu praejo nuo jusu gimimo dienos?

import datetime
from datetime import date, datetime

birthday = date(1983, 5, 25)
print(birthday)
today = datetime.today()
print(today)
print(f'Dienu skaicius nuo gimtadienio: {(today - birthday).days}')

1983-05-25
2022-02-21 18:55:24.993755

TypeError: unsupported operand type(s) for -: 'datetime.datetime' and 'datetime.date'

In [27]:
my_tuple = (1, 5846, 3, 74) + (4, 68, 4, 8, 7, 4)
print(my_tuple)
my_tuple = my_tuple[:-1]
print(my_tuple)
my_tuple = tuple(sorted(my_tuple))
print(my_tuple)
print(my_tuple.count(4))
print(my_tuple[-1])
print(max(my_tuple))

(1, 5846, 3, 74, 4, 68, 4, 8, 7, 4)
(1, 5846, 3, 74, 4, 68, 4, 8, 7)
(1, 3, 4, 4, 7, 8, 68, 74, 5846)
2
5846
5846

# 3 paskaita

In [29]:
cities = ['Vilnius','Kaunas','Siauliai','Marijampole','Panevezys','Panevezys']

In [32]:
for city in cities:
    print(f'Sveikiname {city} su kazkokia svente')
    print('pradedam sekancia ciklo iteracija')
print('po ciklo')

Sveikiname Vilnius su kazkokia svente
pradedam sekancia ciklo iteracija
Sveikiname Kaunas su kazkokia svente
pradedam sekancia ciklo iteracija
Sveikiname Siauliai su kazkokia svente
pradedam sekancia ciklo iteracija
Sveikiname Marijampole su kazkokia svente
pradedam sekancia ciklo iteracija
Sveikiname Panevezys su kazkokia svente
pradedam sekancia ciklo iteracija
Sveikiname Panevezys su kazkokia svente
pradedam sekancia ciklo iteracija
po ciklo

In [34]:
for number in range(1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [36]:
suma = 0
for number in range(1,51):
    suma += number
print(suma)

1275

In [39]:
input_number = int(input("Iveskite skaiciu:"))
print(input_number)

for number in range(1,11):
    print(f'{input_number}*{number} = {input_number * number}')

6
6*1 = 6
6*2 = 12
6*3 = 18
6*4 = 24
6*5 = 30
6*6 = 36
6*7 = 42
6*8 = 48
6*9 = 54
6*10 = 60

In [47]:
dienos = ('Pirmadienis', 'Antradienis', 'Treciadienis', 'Ketvirtadienis', 'Penktadienis', 'Sestadienis', 'Sekmadienis')
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

kombinacijos = []
for diena in dienos:
    for valanda in valandos:
        kombinacijos.append((diena,valanda))
        #print ('antras ciklas',diena,valanda)
    #print(diena,valanda)
print(kombinacijos)

[('Pirmadienis', 10), ('Pirmadienis', 11), ('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Pirmadienis', 18), ('Pirmadienis', 19), ('Antradienis', 10), ('Antradienis', 11), ('Antradienis', 12), ('Antradienis', 13), ('Antradienis', 14), ('Antradienis', 15), ('Antradienis', 16), ('Antradienis', 17), ('Antradienis', 18), ('Antradienis', 19), ('Treciadienis', 10), ('Treciadienis', 11), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17), ('Treciadienis', 18), ('Treciadienis', 19), ('Ketvirtadienis', 10), ('Ketvirtadienis', 11), ('Ketvirtadienis', 12), ('Ketvirtadienis', 13), ('Ketvirtadienis', 14), ('Ketvirtadienis', 15), ('Ketvirtadienis', 16), ('Ketvirtadienis', 17), ('Ketvirtadienis', 18), ('Ketvirtadienis', 19), ('Penktadienis', 10), ('Penktadienis', 11), ('Penktadienis', 12), ('Penktadienis', 13), ('Penktadienis', 14), ('Penktadienis', 15), ('Penktadienis', 16), ('Penktadienis', 17), ('Penktadienis', 18), ('Penktadienis', 19), ('Sestadienis', 10), ('Sestadienis', 11), ('Sestadienis', 12), ('Sestadienis', 13), ('Sestadienis', 14), ('Sestadienis', 15), ('Sestadienis', 16), ('Sestadienis', 17), ('Sestadienis', 18), ('Sestadienis', 19), ('Sekmadienis', 10), ('Sekmadienis', 11), ('Sekmadienis', 12), ('Sekmadienis', 13), ('Sekmadienis', 14), ('Sekmadienis', 15), ('Sekmadienis', 16), ('Sekmadienis', 17), ('Sekmadienis', 18), ('Sekmadienis', 19)]

# If salyga

In [53]:
x = 5
if x > 2:
    print('x yra daugiau uz du')
print('po if salygos')

x yra daugiau uz du
po if salygos

In [58]:
x=10
if x>2:
    print ('x yra daugiau uz du')
else:
    print('x nera daugiau uz du')

x yra daugiau uz du

In [64]:
x = 0
y = 38

if x>10:
    print('if salyga atitinka')
elif x>0 and y>10:
    print('atitinka elif salyga')
elif x>-5 and y>30:
    print('atitinka antra elif salyga')
else:
    print('else salyga')

print('po if salygos')

atitinka antra elif salyga
po if salygos

In [69]:
for number in range(1,21):
    if number % 3==0:
        print(number)

3
6
9
12
15
18

In [72]:
suma = 0
for number in range (1,51):
    if (suma + number) % 2 == 0:
        suma += number
    #print(suma)
print(suma)

650

In [80]:
input_number = int(input('Iveskite skaiciu'))
print(input_number)

for number in range (1,11):
    if (input_number ** 2) % 2 != 0:
         print(f'{input_number} * {number} = {input_number * number}')
else:
    print('skaicius pakeltas kvadratu yra lyginis')

6
skaicius pakeltas kvadratu yra lyginis

# None

In [82]:
niekas = None
print(niekas)
print(type(niekas))

None
<class 'NoneType'>

In [85]:
user_name = ' '
name = input('Irasykite varda')
if user_name:

In [84]:
print(name)

# List comprehension

In [87]:
numbers = list(range(1,21))
dividible_by_3 = []
for number in numbers:
    if number % 3 == 0:
        dividible_by_3.append(number)
        #print(number)
print(dividible_by_3)

[3, 6, 9, 12, 15, 18]

In [93]:
print(numbers)
dividible_by_3 = [number/2 for number in numbers]
print (dividible_by_3)
dividible_by_3 = [number for number in numbers if number % 3 == 0]
print (dividible_by_3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0]
[3, 6, 9, 12, 15, 18]

# Dictionary

In [94]:
my_dictionary = {
    'name':'Justina',
    'surname': 'Leisyte',
    'age':24,
    'hobbies':['tennis','football','games']
}

In [96]:
print(my_dictionary)
print(type(my_dictionary))

{'name': 'Justina', 'surname': 'Leisyte', 'age': 24, 'hobbies': ['tennis', 'football', 'games']}
<class 'dict'>

In [98]:
print(my_dictionary['name'])
print(my_dictionary['hobbies'])

Justina
['tennis', 'football', 'games']

In [100]:
my_dictionary['age'] = 25
print(my_dictionary)

{'name': 'Justina', 'surname': 'Leisyte', 'age': 25, 'hobbies': ['tennis', 'football', 'games']}

In [103]:
my_dictionary['city'] = 'Vilnius'
print(my_dictionary)
print(len(my_dictionary))

{'name': 'Justina', 'surname': 'Leisyte', 'age': 25, 'hobbies': ['tennis', 'football', 'games'], 'city': 'Vilnius'}
5

#### Dictionary is mutable

In [ ]:
my_dictionary.copy()

In [107]:
print(my_dictionary.get('city'))

Vilnius

In [109]:
print(my_dictionary['car'])

KeyError: 'car'

In [112]:
print(my_dictionary.get('car'))
print(my_dictionary.get('car','No car'))

None
No car

In [116]:
my_dictionary[10] = 'desimt'
print(my_dictionary)
print (my_dictionary.pop(10))
print(my_dictionary)

{'name': 'Justina', 'surname': 'Leisyte', 'age': 25, 'hobbies': ['tennis', 'football', 'games'], 'city': 'Vilnius', 10: 'desimt'}
desimt
{'name': 'Justina', 'surname': 'Leisyte', 'age': 25, 'hobbies': ['tennis', 'football', 'games'], 'city': 'Vilnius'}

In [117]:
my_dictionary[None] = 'niekas'
print(my_dictionary)
key, value = my_dictionary.popitem()
print(my_dictionary)
print(key,value)

{'name': 'Justina', 'surname': 'Leisyte', 'age': 25, 'hobbies': ['tennis', 'football', 'games'], 'city': 'Vilnius', None: 'niekas'}
{'name': 'Justina', 'surname': 'Leisyte', 'age': 25, 'hobbies': ['tennis', 'football', 'games'], 'city': 'Vilnius'}
None niekas

In [127]:
new_dictionary = {
    'name':'Darius',
    'age':26,
    'hobbies':{'tennis','games'}
}

my_dictionary.update(new_dictionary)

In [129]:
print(my_dictionary)

{'name': 'Darius', 'surname': 'Leisyte', 'age': 26, 'hobbies': {'tennis', 'games'}, 'city': 'Vilnius'}

In [133]:
for key in my_dictionary.keys():
    print(key)

name
surname
age
hobbies
city

In [134]:
for value in my_dictionary.values():
    print (value)

Darius
Leisyte
26
{'tennis', 'games'}
Vilnius

In [136]:
for k, v in my_dictionary.items(): #k - key, v - value
    print(f'key {k} has a value of {v}')

key name has a value of Darius
key surname has a value of Leisyte
key age has a value of 26
key hobbies has a value of {'tennis', 'games'}
key city has a value of Vilnius

In [142]:
car = {
    "brand":"Ford",
    "model":"Mustang",
    "year":1964
}

In [143]:
print(car['brand'])
print(len(car))
car['year'] = 2022
print(car)

Ford
3
{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}

In [144]:
car["color"] = "red"
car["used"] = True
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2022, 'color': 'red', 'used': True}

In [147]:
car.update({'color':'red','used': True})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2022, 'color': 'red', 'used': True}

In [149]:
car = {
    "brand" : "Ford",
    "year" : 1992,
    "color" : "red",
    "used" : True
}

car.pop('brand')
car['year'] = None
print(car)

{'year': None, 'color': 'red', 'used': True}