In [1]:
number = 47
print(number + 5)
print(number - 5)
print(number * 5)
print(number / 5)
print(number ** 5) # kelimas kvadratu
print(2 ** 3) 
print(number // 5) # sveikoji dalis
print(number % 5) # likutine dalis
print(3 % 2) # likutine dalis
print(6 % 2) # likutine dalis
print('4 % 5 :', 4 % 5) # likutine dalis
print('6 % 5 :', 6 % 5) # likutine dalis

52
42
235
9.4
229345007
8
9
2
1
0
4 % 5 : 4
6 % 5 : 1

In [5]:
print(type(420))
print(type(420.))
print(type(420.5))

<class 'int'>
<class 'float'>
<class 'float'>

In [10]:
suma = 0
# akumuliuoti skaiciu suma
suma = suma + 5
print(suma)
suma = suma + 6
print (suma)
suma += 7
print(suma)

5
11
18

In [17]:
sandauga = 1
sandauga *= 10
print(sandauga)
sandauga *= 4.5
print(sandauga)
sandauga **= 2
print(sandauga)

10
45.0
2025.0

# Int, float uzduotys

In [25]:
# Deklaruokite du int tipo kintamuosius.
# Apskaiciuokite dvieju int suma, skirtuma, sandauga, liekana, padalinkite viena skaiciu is kito.

number_1 = 25
number_2 = 3

print(number_1 + number_2)
print(number_1 - number_2)
print(number_1 * number_2)
print(number_1 % number_2)
print(number_1 / number_2)

28
22
75
1
8.333333333333334

In [29]:
# Deklaruokite du float tipo kintamuosius.
# Apskaiciuokite dvieju float suma, skirtuma, sandauga, liekana, padalinkite viena skaiciu is kito.

n_1 = 25.2
n_2 = 4.2

print(n_1 + n_2)
print(n_1 - n_2)
print(n_1 * n_2)
print('dalybos liekana:', n_1 % n_2)
print('sveikoji dalis dalybos:', n_1 // n_2)
print(n_1 / n_2)

29.4
21.0
105.84
dalybos liekana: 4.199999999999998
sveikoji dalis dalybos: 5.0
6.0

In [33]:
# Atstumas iki menulio yra apie 384,000 km, o iki saules 150,000,000, kiek kartu atstumas iki saules yra didesnis nei iki menulio?
dist_moon = 384000
dist_sun = 150000000
print(f'Atstumas iki saules yra {dist_sun/dist_moon} kartu didesnis nei iki menulio')

Atstumas iki saules yra 390.625 kartu didesnis nei iki menulio

In [36]:
# Jeigu noretume nuvaziuoti iki menulio automobiliu, kurio greitis 150km/h, kiek valandu, metu, menesiu, dienu, sekundziu tai uztruktu?

car_speed = 150
dist_moon = 384000
print('Valandu:', (dist_moon/car_speed))

Valandu: 2560.0

# Boolean deklaracija

In [ ]:
# gali buti tik true (1) arba false (0) fgdfgfdgdf

In [39]:
loginis_kintamasis = True
print(type(loginis_kintamasis))
print(loginis_kintamasis)

<class 'bool'>
True

In [40]:
print (int(loginis_kintamasis))
print(int(False)) # keicia false i skaiciu

1
0

In [41]:
number = 50
print(10 > 5)
print (10 < 5)
print (10 < 10)
print (10 <= 10)
print (10 >= 10)
print ('50 == number: ', 50 == number) # = - priskiria verte, == - palygina
print ('100 == number: ', 100 == number)

print ('100 != number: ', 100 != number) # != nera lygus
print ('90 != number: ', 90 != number) # != nera lygus
print ('50 != number: ', 50 != number) # != nera lygus

True
False
False
True
True
50 == number:  True
100 == number:  False
100 != number:  True
90 != number:  True
50 != number:  False

In [42]:
# galima keisti skaiciu i logine verte

print(bool(1654))
print(bool(0)) # skaiciu vercia atgal i logini kintamaji
print(bool(-1)) # viskas kas ne nulis bus true

print("bool(tekstas): ", bool('tekstas')) # galima ir teksta keisti i logini kintamaji
print("bool(): ", bool(''))
print("bool(' ') :", bool(' '))

True
False
True
bool(tekstas):  True
bool():  False
bool(' ') : True

In [43]:
# galime lyginti kelias salygas
# and salygoje is abieju pusiu turi veikti

print('10 < 5 :', 10 < 5)
print('10 > 8 :', 10 > 8)
print('10 < 5 and 10 > 8:', 10 < 5 and 10 > 8) # is abieju pusiu turi buti tiesos kad butu tiesa

print('10 < 50 and 10 > 8:', 10 < 50 and 10 > 8)

10 < 5 : False
10 > 8 : True
10 < 5 and 10 > 8: False
10 < 50 and 10 > 8: True

In [44]:
# or salygoje bent vienas is abieju turi but true, reikia bent vieno

print('10 < 5 or 10 > 8:', 10 < 5 or 10 > 8)
print('10 < 50 or 10 > 8:', 10 < 50 or 10 > 8)

10 < 5 or 10 > 8: True
10 < 50 or 10 > 8: True

In [45]:
# not - duoda priesinga atsakyma

print(not 5 > 10)
print(not True)
print(not False)

True
False
True

In [47]:
print ('Vilnius' in 'Vilnius, Kaunas')
print ('Klaipeda' in 'Vilnius, Kaunas')
print ('s' in 'Vilnius, Kaunas')
print ('kaunas' in 'Vilnius, Kaunas')
print('Kaunas' in 'Vilnius, Kaunas')

True
False
True
False
True

In [48]:
print(True == 1)
print(False == 0)

True
True

# Boolean uzduotys

In [49]:
# 1. Deklaruokite True reiksme 5 skirtingais budais

print(bool(-3))
print(not 1 > 2)
print(5 < 7)
print(1 == 1)
print(not 's' in 'Lova' and 2>1)
print(not 's' in 'Lova')

True
True
True
True
True
True

In [50]:
# 2. Deklaruokite False reiksme 5 skirtingais budais
print(0 == 1)
print (2 > 10)
print (not 10 > 2)
print ('d' in 'abc')
print(bool(0))
print ('s' in 'Lova')
print (not 's' in 'Lova' and 2 > 10)

False
False
False
False
False
False
False

In [51]:
print(str(True)) # keicia logini kintamaji i teksta

True

In [52]:
float_1 = 2.2
float_2 = 3.3
print(float_1-float_2)

-1.0999999999999996

# List

In [1]:
cities = ['Vilnius', 'Kaunas', 'Klaipeda']

In [5]:
print(type(cities))
print(type([]))
print(cities[0])
print(cities[-1])
#slicing
print(cities[1:])

<class 'list'>
<class 'list'>
Vilnius
Klaipeda
['Kaunas', 'Klaipeda']

In [8]:
cities[-1] = 'Siauliai' #perraso verte
print(cities)

['Vilnius', 'Kaunas', 'Siauliai']

In [18]:
cities.append('Marijampole')
cities.append('Panevezys') #prideda kiekviena karta paleidus
print(cities)

['Vilnius', 'Kaunas', 'Siauliai', 'Panevezys', 'Marijampole', 'Panevezys']

In [19]:
cities.remove('Panevezys') #panaikina pirma pasikartojancia verte
print(cities)

['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys']

In [27]:
cities.append('Marijampole')
cities.append('Panevezys')
print(cities)
cities.pop() #jei niekas nenurodyta, pasalina paskutine verte is saraso, remove pirma
print(cities)
cities.pop()

#append po viena verte prideda, nepatogu, jei reikia daug, tam reik naujo listo ir EXTEND

['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys', 'New York', 'London', 'Marijampole', 'Panevezys']
['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys', 'New York', 'London', 'Marijampole']

'Marijampole'

In [47]:
cities = ['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys']
print(cities)
new_cities = ['New York', 'London']
cities.extend(new_cities)
print('po extend')
print(len(cities), cities)
cities.pop()
cities.pop()
cities.append(new_cities)
print('po append')
print(len(cities), cities)
cities.pop()

['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys']
po extend
7 ['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys', 'New York', 'London']
po append
6 ['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys', ['New York', 'London']]

['New York', 'London']

In [48]:
cities.clear()
print(cities)

[]

In [61]:
cities = ['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys', 'Panevezys']
print(cities.count('Panevezys'))
print(cities.count('Pan')) #fja ziuri i nari, o ne i vidu, nors ir kartojasi PAN 2k
print(cities.count('Vilnius'))

2
0
1

In [58]:
print(cities.index('Panevezys')) #grazina 1a indeksa vertes kuria norim surast
print(cities.index('Klaipeda')) #negrazina nes nera KLPD liste

4

ValueError: 'Klaipeda' is not in list

In [71]:
cities.clear()
cities = ['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys', 'Panevezys']
cities.insert(2, 'Klaipeda')
print(cities)

['Vilnius', 'Kaunas', 'Klaipeda', 'Siauliai', 'Marijampole', 'Panevezys', 'Panevezys']

In [74]:
cities.reverse()
print(cities)
print(cities)

['Panevezys', 'Panevezys', 'Marijampole', 'Siauliai', 'Klaipeda', 'Kaunas', 'Vilnius']
['Panevezys', 'Panevezys', 'Marijampole', 'Siauliai', 'Klaipeda', 'Kaunas', 'Vilnius']

In [75]:
print(cities) # apkeite ir taip liko, reiktu vel reversint

['Panevezys', 'Panevezys', 'Marijampole', 'Siauliai', 'Klaipeda', 'Kaunas', 'Vilnius']

In [76]:
print(cities[::-1]) # nuo pradzios iki galo , -1 apsuka sarasa / 
print(cities) # bet neperraso

['Vilnius', 'Kaunas', 'Klaipeda', 'Siauliai', 'Marijampole', 'Panevezys', 'Panevezys']
['Panevezys', 'Panevezys', 'Marijampole', 'Siauliai', 'Klaipeda', 'Kaunas', 'Vilnius']

In [77]:
numbers = [5614, 984, 479987, 3453, 1, 2, 14, 0, 111]

In [80]:
numbers.sort() #didejimo
print(numbers)
numbers.sort(reverse=True) #mazejimo
print(numbers)

[0, 1, 2, 14, 111, 984, 3453, 5614, 479987]
[479987, 5614, 3453, 984, 111, 14, 2, 1, 0]

In [88]:
print(bool( [] )) #jei keiciam tuscia sarasa i logine verte, gaunam false
print(bool( [5] ))
print(bool( [False, 0, ''] )) #jei kazkas yra sarase, tampa true, neziuri kas viduje logine verte
print('Vilnius' in cities)
print('Berlin' in cities)

# tuscias arba 0 - false, ne tuscias arba ne nulinis - true

False
True
True
True
False

In [92]:
my_list = [1,3, 58] + ['A', False]
print(my_list)
# my_list = [1,3, 58] - ['A', False]

[1, 3, 58, 'A', False]

In [93]:
my_list = ['first',3,58] * 50
print(my_list)

['first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58]

# Mutable vs. Immutable variables

In [98]:
# Immutable 
number_1 = 6
number_2 = number_1
print(id(number_1))
print(id(number_2))
number_2 = 13
print ('number_1:', number_1)
print('number_2:', number_2)
print('id number_1:', id(number_1))
print('id number_2:', id(number_2))

2012099838352
2012099838352
number_1: 6
number_2: 13
id number_1: 2012099838352
id number_2: 2012099838576

In [100]:
# Mutable

numbers_1 = [1,5,10]
numbers_2 = numbers_1
print(id(numbers_1))
print(id(numbers_2))
numbers_2.append(13)
print('numbers_1:', (numbers_1))
print('numbers_2:', (numbers_2))
print(id(numbers_1))
print(id(numbers_2))

2010067337152
2010067337152
numbers_1: [1, 5, 10, 13]
numbers_2: [1, 5, 10, 13]
2010067337152
2010067337152

In [101]:
# fix 1 for mutable variables

numbers_1 = [1,5,10]
numbers_2 = numbers_1.copy()
print(id(numbers_1))
print(id(numbers_2))
numbers_2.append(13)
print('numbers_1:', (numbers_1))
print('numbers_2:', (numbers_2))
print(id(numbers_1))
print(id(numbers_2))

2010067333056
2010067328384
numbers_1: [1, 5, 10]
numbers_2: [1, 5, 10, 13]
2010067333056
2010067328384

In [103]:
numbers_1 = [1,5,[10, 20]] 
numbers_2 = numbers_1.copy() #will fail
print(id(numbers_1))
print(id(numbers_2))
print(id(numbers_1[2]))
print(id(numbers_2[2]))
numbers_2[2].append(13)
print('numbers_1:', (numbers_1))
print('numbers_2:', (numbers_2))
print(id(numbers_1))
print(id(numbers_2))

2010067244992
2010067243648
2010067248256
2010067248256
numbers_1: [1, 5, [10, 20, 13]]
numbers_2: [1, 5, [10, 20, 13]]
2010067244992
2010067243648

In [104]:
# Best fix for mutable variables

import copy
numbers_1 = [1,5,[10, 20]] 
numbers_2 = copy.deepcopy(numbers_1)
print(id(numbers_1))
print(id(numbers_2))
print(id(numbers_1[2]))
print(id(numbers_2[2]))
numbers_2[2].append(13)
print('numbers_1:', (numbers_1))
print('numbers_2:', (numbers_2))
print(id(numbers_1))
print(id(numbers_2))

2010067244672
2010067374976
2010067245504
2010067337152
numbers_1: [1, 5, [10, 20]]
numbers_2: [1, 5, [10, 20, 13]]
2010067244672
2010067374976

# List uzduotys

In [114]:
# 1. Deklaruoti list tipo duomeni, gauti jo ilgi, prideti nauja elementa.

my_list1 = [1, 32, 434]
print(my_list1)
print(len(my_list1))
my_list1.append(43535)
print(my_list1)

[1, 32, 434]
3
[1, 32, 434, 43535]

In [112]:
# 2. Patikrinti, ar elementas yra jusu sarase.

print(my_list1)
print(1 in my_list1)

[1, 32, 434, 43535]
True

In [133]:
# 3. Sudeti du listus, isimti paskutini nari is sudeto listo, isrikuoti lista, suskaiciuoti kiek yra kokios nors reiksmes ivesciu liste.

list_1 = [1,5,3,9] + [4,7,9,9]
print(list_1)
list_1.pop()
print(list_1)
list_1.sort()
print(list_1)
print(list_1.count(9))

[1, 5, 3, 9, 4, 7, 9, 9]
[1, 5, 3, 9, 4, 7, 9]
[1, 3, 4, 5, 7, 9, 9]
2

In [139]:
my_list_2 = [1,[[5416,3],521,4], 54]
print(my_list_2)
print(my_list_2[1])
print(my_list_2[1][0])
print(my_list_2[1][0][1])

[1, [[5416, 3], 521, 4], 54]
[[5416, 3], 521, 4]
[5416, 3]
3

# Tuple

In [ ]:
# Nuo list tuple skiriasi tuo, kad elementai negali kisti, negalime ideti nauju elementu, negalime
# isimti elementu.

# Tuple duomenu formatas turi sekos parametrus, tai reiskia, kad
# galime skaidyti tuple duomenis, pvz is saraso ('item1', 'item2', 'item3') nuskaityti 1 reiksme, pasilikti tik paskutine ir tt

# Tuple tipo duomenys turi du metodus skirtus tuple - count() ir index()
# galime naudoti ir list skirtas funkcijas, taciau ne visas, kadangi tuple yra nekintantis (len, in)

In [154]:
my_tuple = (1,2,3)
print(my_tuple)
print(my_tuple[1])
print(my_tuple[:2])

(1, 2, 3)
2
(1, 2)

In [155]:
print(my_tuple.count(3))
print(my_tuple.index(3))

1
2

In [146]:
# negalime perrasineti reiksmiu

# my_tuple[2] = 5

In [156]:
my_tuple = my_tuple + (5,10) #perraso tsg
print(my_tuple)

(1, 2, 3, 5, 10)

In [158]:
#my_tuple.append(5)

In [160]:
combined = (1,4,4) + (5,5,5)
print(combined)
print(5 in combined)

(1, 4, 4, 5, 5, 5)
True

In [162]:
# Budas apeiti draugima daryti pakeitimus , idedam lista, o liste galima keist
my_tuple2 = (1,5,[4,8])
print(my_tuple2)
my_tuple2[2].append(100)
print(my_tuple2)

(1, 5, [4, 8])
(1, 5, [4, 8, 100])

# Tuple uzduotys

In [163]:
# 1. Isvekite 8

my_tuple_1 = (1,2,['3',4,5],[6,[7,(8)]])

In [170]:
print(my_tuple_1[3])
print(my_tuple_1[3][1])
print(my_tuple_1[3][1][1])

print(my_tuple_1[-1][-1][-1])

[6, [7, 8]]
[7, 8]
8
8

In [179]:
# 2. Pakeiskite reiksme

tuple1 = (11,[222,33],44,55)
print(tuple1)
tuple1[1][-1]=22
print(tuple1)

(11, [222, 33], 44, 55)
(11, [222, 22], 44, 55)

In [183]:
# 2 budas

tuple1 = (11,[222,33],44,55)
tmp_list = list(tuple1)
print(tmp_list)
tmp_list[1]=[222, 22]
tuple1 = tuple(tmp_list)
print(tuple1)
print(type(tuple1))

[11, [222, 33], 44, 55]
(11, [222, 22], 44, 55)
<class 'tuple'>

#  Range'as

In [193]:
my_numbers = range(54,158,3)
print(type(my_numbers))
print(my_numbers)
print(list(my_numbers)) #jei norim paciu skaiciu, reikia pakeisti tipa i lista

<class 'range'>
range(54, 158, 3)
[54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156]

In [194]:
print(list(range(54,-158,-7)))

[54, 47, 40, 33, 26, 19, 12, 5, -2, -9, -16, -23, -30, -37, -44, -51, -58, -65, -72, -79, -86, -93, -100, -107, -114, -121, -128, -135, -142, -149, -156]

In [196]:
print(list(range(20,81,2)))

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80]

# Loopas

In [197]:
cities

['Panevezys',
 'Panevezys',
 'Marijampole',
 'Siauliai',
 'Klaipeda',
 'Kaunas',
 'Vilnius']

In [203]:
print(list(range(3,11,2)))
for number in range (3,11,2):
    print('ciklas prasidejo')
    print(number)
print('pabaiga')

[3, 5, 7, 9]
ciklas prasidejo
3
ciklas prasidejo
5
ciklas prasidejo
7
ciklas prasidejo
9
pabaiga